*{
    box-sizing: border-box;
}

body {
    background-color: #F2EAE2;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    

}

.card {
    position: relative;
    display: flex;
    align-items: center;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: 600px;
    max-height: 450px;
    background-color: white;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.card__image {
    position: absolute;
    display: flex;
    max-width: 300px;
    max-height: 450px;
    height: 100%;
    width: 50%;
    }